<section class="section dashboard page-align" id="footer">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" onclick="return sales('daily')">Today</a></li>
                    <li><a class="dropdown-item" onclick="return sales('weekly')">Last week</a></li>
                    <li><a class="dropdown-item"  onclick="return sales('yearly')">Last Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Sales <span>| {{salesTitle}}</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      {{#if report}}
                      <h6>{{report}}</h6>
                      {{else}}
                      <p>No Report</p>
                      {{/if}}
                      {{!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> --}}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" onclick="return revenue('daily')">Today</a></li>
                    <li><a class="dropdown-item" onclick="return revenue('weekly')">Last week</a></li>
                    <li><a class="dropdown-item"  onclick="return revenue('yearly')">Last Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue <span>| {{revenueTitle}}</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      {{#if revenReport}}
                      <h6>₹{{revenReport}}</h6>
                      {{else}}
                      <p>No Report</p>
                      {{/if}}
                      {{!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> --}}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Customers</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{users}}</h6>
                      {{!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>  --}}

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->
            <!-- Reports -->
            <h5>Orders</h5>
             <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>
          </div>
        </div>
        

      </div>
    </section>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script>
    function sales(value) {
  $.ajax({
    url: '/admin/reports',
    data: {
        data:value
    },
    method: 'post',
    success: () => {
      // eslint-disable-next-line no-restricted-globals
      location.reload();
    },
  });
}
    function revenue(value) {
  $.ajax({
    url: '/admin/revenue',
    data: {
        data:value
    },
    method: 'post',
    success: () => {
      // eslint-disable-next-line no-restricted-globals
      location.reload();
    },
  });
}
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

  var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours per Day'],
    ['COD',     {{cod}}],
    ['Online',      {{online}}],
  ]);

  var options = {
    title: 'Orders'
  };

  var chart = new google.visualization.PieChart(document.getElementById('piechart'));

  chart.draw(data, options);
}


</script>