<section class="page-align" id="footer">
    <h1>Sales Report</h1>
    <div class="sale-filter">
        <div>
    <button id="download-button" class="btn btn-secondary">Download</button>
    </div>
    <div class="mt-3">
        <form action="/admin/sale-filter" method="post"> 
        <input type="date" name="startDate" id="">
        <input type="date" name="endDate" id="">
        <button class="badge badge-secondary ml-5" type="submit">Filter</button>
        </form>
        </div>
    </div>
    <div id="invoice">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Products</th>
                <th scope="col">Total</th>
                <th scope="col">Payment Method</th>
            </tr>
        </thead>
        <tbody>
            {{#each report}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.deliveryDetails.name}}</td>
                <td>{{this.products.bookname}}</td>
                <td>₹{{this.totalPrice}}</td>

                <td>{{this.paymentMethod}}</td>
               
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
			const button = document.getElementById('download-button');

			function generatePDF() {
                console.log("called")
				// Choose the element that your content will be rendered to.
				const element = document.getElementById('invoice');
				// Choose the element and save the PDF for your user.
				html2pdf().from(element).save();
			}

			button.addEventListener('click', generatePDF);
		</script>