<section class="page-align">
  <div class="btns">

       <a href="/admin/add-stock-page"> <button class="btn btn-success">Add Stocks</button></a>
       <a href="/admin/category"> <button class="btn btn-success">Categories</button></a>
  </div>

       <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name of the book</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date of publish</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each books}}
                  <tr >
                    <td class="book-image"><img src="/book-image/{{this._id}}.jpg" alt="no"></td>
                    <td>{{this.bookname}}</td>
                    <td>{{this.authorname}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.dateofpublish}}</td>
                    <td>₹{{this.price}}</td>
                    <td>
                        <a href="/admin/edit-book/{{this._id}}"><button class="btn btn-secondary">Edit</button></a><br>
                        <form action="/admin/delete-book/{{this.availability}}" method="post">
                        <input type="text" name="id" value="{{this._id}}" hidden>
                        <button class="btn btn-danger"  >
                          {{#if this.availability}}
                          Delete
                          {{else}}
                          Add to stock
                          {{/if}}
                          </button>

                        </form>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
</section>