<div class="page-align" id="footer">
    <h1>Orders</h1>
    {{message}}
    <table class="table table-bordered border-primary mt-5">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Totel Price</th>
                <th scope="col">Method</th>
                <th scope="col">Status</th>
                <th scope="col">Shipping Status</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{this.user.username}}</td>
                <td>{{this.date}}</td>
                <td>₹{{this.totelPrice}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>
                    <p class="badge badge-success">{{this.status}}</p> <br>
                        <p class="cancel" onclick="return cancelOrder('{{this._id}}')">Cancel Order</p>
                    
                </td>
                <td>
                    <form action="/admin/delivery-status" method="post">
                    <input type="text" value="{{this._id}}" name="id" hidden>
                    {{!-- <label for=""></label> --}}
                        <select class="shipping" name="status">
                            <option value="{{this.deliveryStatus}}" selected>{{this.deliveryStatus}}</option>
                            <option value="Preparing">Preparing</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                        <br><br>
                        <input class="shipping" type="submit" value="Change">
                    </form>
                </td>
                <td><a href="/admin/view-order-product/{{this._id}}"><button class="btn btn-secondary">ViewProducts</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>