<div class="page-align" id="footer">
    <form action="/admin/{{btnstatus.route}}" method="post">
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">{{btnstatus.text}}</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control">

            </div>
            <div class="col-sm-5">
                <button class="btn btn-secondary" type="submit">{{btnstatus.btn}}</button><br>
                {{#if btnstatus.link}}
                <a class="badge badge-secondary" href="/admin/category">Go to Add category form</a>
                {{/if}}

            </div>
        </div>
        <p class="error">{{error}}</p>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Categories</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each categorydata}}
            <tr>
                <td>{{this.name}}</td> 
                <td>
                    <a href="/admin/edit-category/{{this._id}}"><button class="btn btn-secondary">Edit</button></a>
                    <button class="btn btn-secondary" onclick="return example('{{this._id}}')">Remove</button>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    {{!-- <button onclick="example()">ALERT</button> --}}



</div>

