<div class="page-align" id="footer">
    <h1>Orders</h1>
    {{message}}
    <table class="table table-bordered border-primary mt-5" id="orders">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Method</th>
                <th scope="col">Status</th>
                <th scope="col">Shipping Status</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{this.user.username}}</td>
                <td>{{this.date}}</td>
                <td>₹{{this.totalPrice}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>

                    {{#if this.btnStatus}}
                    <p class="badge badge-success">{{this.status}}</p> <br>
                        <p class="cancel badge badge-danger" onclick="return cancelOrder('{{this._id}}')">Cancel Order</p>
                        {{else}}
                    <p class="badge badge-secondary">{{this.status}}</p> <br>
                    {{/if}}
                </td>
                <td>
                    {{#if this.btnStatus}}
                    <form action="/admin/delivery-status" method="post">
                    <input type="text" value="{{this._id}}" name="id" hidden>
                    <h6 class="badge badge-info">{{this.deliveryStatus}}</h6><br>

                        <select class="shipping" name="status">
                            <option value="Preparing">Preparing</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                        
                        <input class="shipping" type="submit" value="Change">
                    </form>
                    {{else}}
                    <p class="badge badge-secondary">{{this.status}}</p> <br>
                    {{/if}}
                </td>
                <td><a href="/admin/view-order-product/{{this._id}}"><button class="btn btn-secondary">ViewProducts</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
  <script>
      $(document).ready(function () {
        $('#orders').DataTable({
            responsive: true,
            dom: 'Pfrtip'
        });
      });
  
  
  
  </script>