<div class="main">
        <h2>ABOUT</h2>
        <div class="card">
            <div class="card-body">
               <a href="/edit-account"> <i class="fa fa-pen fa-xs edit"></i></a>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{data.username}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{data.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>:</td>
                            <td>{{data.phone}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>
                                {{data.address.street}}
                                {{data.address.city}}
                                {{data.address.city}}
                                {{data.address.postcode}}


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>