<div class="main">
        <h2>ABOUT</h2>
        <div class="card">
            <div class="card-body">
               <a href="/edit-account"> <i class="fa fa-pen fa-xs edit"></i></a>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{data.username}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{data.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>:</td>
                            <td>{{data.phone}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>
                                {{data.address.street}}
                                {{data.address.city}}
                                {{data.address.city}}
                                {{data.address.postcode}}


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>

<footer class="footer_area fix mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="company__info  wow fadeInUp " data-wow-duration=".s" data-wow-delay=".3s">
                        <h3 class="f-title">Wisdom</h3>
                        <ul>
                            <li>Add: 734 Riverwood Drive, Suite 245 Cottonwood </li>
                            <li>Beverly Hill, Melbourne, USA.</li>
                            <li>Email: wisdom@gmail.com</li>
                            <li>Fax: (+100) 123 456 7890 - (+100) 123 456 7891</li>
                        </ul>
                        
                    </div>
                </div>
                
                
                
            </div>
            
        </div>
    </footer>