<div class="checkout_area pt-80">
    <div class="container">

        <div class="row mt-5">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <p class="error">{{error}}</p>
                <div class="checkout_form mb-100">
                    <form action="" method="" id="checkout-form">
                        <input type="text" id="amount" name="offerPrice" hidden>
                        <div class="row mb-30">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="checkout__wrap">
                                    <label>Name<span>*</span></label>
                                    <input type="text" name="name" id="name" >
                                </div>
                            </div>

                        </div>

                        <div class="checkout__wrap">
                            <label>State<span>*</span></label>
                            <select name="state" id="state">
                                <option value="Kerala">Kerala</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Goa">Goa</option>
                            </select>
                        </div>
                        <div class="checkout__wrap">
                            <label>Street address <span>*</span></label>
                            <input class="mb-20" type="text" name="street" id="street1" 
                                placeholder="house number and street number">
                            <input type="text" name="street2" placeholder="apartment,suite,unit,etc.(optional)" id="street2">
                        </div>
                        <div class="checkout__wrap">
                            <label>Town / City <span>*</span></label>
                            <input type="text" name="city" id="city">
                        </div>

                        <div class="checkout__wrap">
                            <label>Postcode<span>*</span></label>
                            <input type="text" name="postcode" id="postcode">
                        </div>
                        <div class="checkout__wrap">
                            <label>Phone <span>*</span></label>
                            <input type="text" name="phone" id="phone">
                        </div>
                        <div class="checkout__wrap">
                            <label>Email address <span>*</span></label>
                            <input type="email" name="email" id="email">
                        </div>

                        <div class="checkout__wrap-2 pt-20">
                            <button type="button" onclick="return getCurrentAddress()"> Load current address</button>
                        </div>


                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <div class="cart__acount ml-50">
                    <h5>Your order</h5>
                    <table>
                        <tr class="first-child-2">
                            <td>product</td>
                            <td>
                                {{#each cart}}
                                <p>* {{this.book.bookname}}</p>
                                {{/each}}
                                <span>{{this.quantity}}</span>
                            </td>
                        </tr>
                        <tr class="first-child-2">
                            <td>Subtotal</td>
                            <td class="lightbluee">₹{{total}}</td>
                        </tr>
                        <tr class="design-footer">
                            <td>
                                <input type="text" placeholder=" Coupon Code" id="code">
                                <p id="error" style="color: red;"></p>
                            </td>
                            <td><input type="button" onclick="checkCoupon()"
                                    style="background-color: rgb(215, 215, 215);" value="Apply Coupon"></td>
                        </tr>
                        <tr class="first-child-2">
                            <td>Total</td>
                            <td class="lightbluee" id="offer">₹{{total}}</td>
                        </tr>
                    </table>
                    <div class="checkout__accordion mt-30">
                        <div class="accordion" id="accordionExample">

                            <h5>Payment Method</h5>
                            <div class="switch-field">
                                <input type="radio" id="radio-one" name="payment" value="COD" checked />
                                <label for="radio-one">COD</label>
                                <input type="radio" id="radio-two" name="payment" value="Online" />
                                <label for="radio-two">Online</label>
                            </div>
                        </div>
                        <div class="terms pt-50 pb-20">
                            <p>Your personal data will be used to process your order, support your experience throughout
                                this website, and for other purposes described in our privacy policy</p>

                            <div class="order-button">
                                <button type="submit">place order</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup area start -->
    <div class="overlay"></div>
    <div class="product-popup">
        <div class="view-background">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="quickview">
                        <div class="quickview__thumb">
                            <img src="assets/img/quick_view/25.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="viewcontent">
                        <div class="viewcontent__header">
                            <h2>Brown Leather Bags</h2>
                            <a class="view_close product-p-close" href="javascript:void(0)"><i
                                    class="fal fa-times-circle"></i></a>
                        </div>
                        <div class="viewcontent__rating">
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="viewcontent__price">
                            <h4><span>$</span>99.00</h4>
                        </div>
                        <div class="viewcontent__stock">
                            <h4>Available :<span> In stock</span></h4>
                        </div>
                        <div class="viewcontent__details">
                            <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium
                                risus lacinia vel. Fusce eget turpis orci.</p>
                        </div>
                        <div class="viewcontent__action">
                            <span>Qty</span>
                            <span><input type="number" placeholder="1"></span>
                            <span><a href="#">add to cart</a></span>
                            <span><i class="fal fa-heart"></i></span>
                            <span><i class="fal fa-info-circle"></i></span>
                        </div>
                        <div class="viewcontent__footer">
                            <ul>
                                <li>Category:</li>
                                <li>SKU:</li>
                                <li>Brand:</li>
                            </ul>
                            <ul>
                                <li>Watches</li>
                                <li>2584-MK63</li>
                                <li>Brenda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script>


        $("#checkout-form").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/checkout-submit',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    console.log(response)
                    if (response.cod) {
                        location.href = '/order-success'
                    } else {
                        razorpayInvoke(response.order)
                    }
                }
            })
        })

        function razorpayInvoke(order) {
            var options = {
                "key": "rzp_test_Sy2vxgrKq0I75D", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Wisdom",
                "description": "Buy books",
                "image": "/images/book.png",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Wisdom",
                    "email": "wisdom@gmail.com",
                    "contact": "1234567890"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                },
                "modal": {
                    "ondismiss": function () {
                        razorpayClose()
                    }
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                paymentFailed(response.error.description)
            });
            rzp1.open();

        }
        function verifyPayment(payment, order) {
            console.log(payment, order)
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response) {
                        location.href = '/order-success'
                    }
                }
            })
        }
        function checkCoupon() {
            var code = document.getElementById('code').value
            console.log(code)
            $.ajax({
                url: '/checkcoupon',
                data: {
                    data: code
                },
                method: 'post',
                success: (response => {
                    if (response.status) {
                        document.getElementById('offer').innerHTML = '₹' + response.offerPrice
                        document.getElementById('amount').value = response.offerPrice
                        document.getElementById('error').innerHTML = ''
                    } else {
                        document.getElementById('error').innerHTML = 'Enter valied <br> coupon code'
                    }
                })
            })
        }
        function getCurrentAddress(){
            $.ajax({
                url:'/get-current-address',
                method:'get',
                success:(response =>{
                    console.log(response)
                    document.getElementById('name').value = response.name
                    document.getElementById('street1').value = response.street
                    document.getElementById('street2').value = response.street2
                    document.getElementById('city').value = response.city
                    document.getElementById('postcode').value = response.postcode
                    document.getElementById('phone').value = response.phone ?? ''
                    document.getElementById('email').value = response.email ?? ''
                })
            })
        }
    </script>