<div class="main">
    <h1>Edit Address</h1>
    <div class="card">
        <div class="card-body">
            <form action="/edit-address" method="post">
                <input type="text" name="name" value="{{address.name}}" placeholder="Name">
                <input type="text" name="street" value="{{address.street}}" placeholder="House no: , Street " required>
                <br>
                <input type="text" name="street2" id="" value="{{address.street2}}" placeholder="street (optional)"><br>
                <input type="text" name="city" id="" value="{{address.city}}" placeholder="City/Town"><br>
                <input type="text" name="district" value="{{address.district}}" id="" placeholder="District" required><br>
                <input type="text" name="state" id="" value="{{address.state}}" placeholder="State" required><br>
                <input type="number" name="postcode" value="{{address.postcode}}" id="" placeholder="Postcode"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer_area fix mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="company__info  wow fadeInUp " data-wow-duration=".s" data-wow-delay=".3s">
                        <h3 class="f-title">Wisdom</h3>
                        <ul>
                            <li>Add: 734 Riverwood Drive, Suite 245 Cottonwood </li>
                            <li>Beverly Hill, Melbourne, USA.</li>
                            <li>Email: wisdom@gmail.com</li>
                            <li>Fax: (+100) 123 456 7890 - (+100) 123 456 7891</li>
                        </ul>
                        
                    </div>
                </div>
                
                
                
            </div>
            
        </div>
    </footer>