<div class="main">
    <h1>Edit Address</h1>
    <div class="card">
        <div class="card-body">
            <form action="/edit-address" method="post">
                <input type="text" name="name" value="{{address.name}}" placeholder="Name">
                <input type="text" name="street" value="{{address.street}}" placeholder="House no: , Street " required>
                <br>
                <input type="text" name="street2" id="" value="{{address.street2}}" placeholder="street (optional)"><br>
                <input type="text" name="city" id="" value="{{address.city}}" placeholder="City/Town"><br>
                <input type="text" name="district" value="{{address.district}}" id="" placeholder="District" required><br>
                <input type="text" name="state" id="" value="{{address.state}}" placeholder="State" required><br>
                <input type="number" name="postcode" value="{{address.postcode}}" id="" placeholder="Postcode"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>