<header class="header-area header-transparent">
    <div class="gota_top_4 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center pt-10 pb-10">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 offset-xl-3">
                    <div class="Message__customer pl-25">
                        <ul>
                            <li>Always Free Delivery</li>
                            <li>Quality Guarantee Of Products</li>
                            <li>Fast Returnings Program</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gota_search">
        <div class="container">
            <div class="background-white white-1">
                <div class="row align-items-center pb-10">
                    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-6">
                        <div class="logo_3">
                            <a href="/home">
                                <h1>WISDOM</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-4 col-md-6 col-sm-12 d-none d-lg-block">
                        <div class="search__input">
                            <div class="search__input-group search__input-group-c">
                                <form action="#" class="p-rel" method="POST">
                                    <input type="search" placeholder="Enter book name to search..." id="name"
                                        onkeyup="return searchBook()" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class=" drp col-xl-4 col-lg-6 col-md-8 col-sm-6 d-flex justify-content-end">
                        <div class="gota_top pl-40 gota_top_bg">
                            <div class="gota_lang gota_lang_3 d-flex justify-content-end">
                                <ul class="d-none d-lg-block">
                                </ul>
                                {{!-- <a href="/login"><button class="btn btn-secondary">Login</button></a> --}}
                                {{!-- <div class="drp dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Login
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/view-orders">Orders</a>
                                        <a class="dropdown-item gota_cart gota_cart_3 gota_cart_4" href="/cart">Cart</a>
                                        
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex d-lg-none">
                        <div class="sidemenu toggle-bar">
                            <a class="open" href="#"><i class="fal fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                <div class="c-border">
                    <div class="row align-items-center">

                        <div class="nav-category col-xl-8 col-lg-8 col-md-4 col-sm-4">
                            <div class="main-menu main-menu-3">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="user-info"><a href="/login"><h3 class="text-white">Login</h3></a>
                                        <li class=""><a href="/shop-books">Shop</a>

                                        </li>
                                        <li class="position-static"><a href="/offers">Special offers</a></li>
                                        <li class=""><a href="#kids">Kids</a>
                                        <li class="position-static"><a href="/login">Login</a></li>

                                       


                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
             <input type="search" placeholder="Enter book name to search..." id="mobile"
             onkeyup="return searchBook()" />
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>123/A, Miranda City Likaoli
                        Prikano, Dope</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+0989 7876 9865 9</p>
                    <p>+(090) 8765 86543 85</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<div class="overlay-trigger" style="display: none;">
    <button id="watchButton">Overlay #01</button>
</div>

<button class="overlay-close">X</button>

<div class="overlay overlay01" id="card">
    <h2 id="error"></h2>
    <div class="card" id="result" style="width: 15rem;">
        <img class="card-img-top" src="" id="image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" id="bookname"></h5>
            <p class="card-text" id="author"></p>
            <a href="" id="hr" class="badge badge-primary">View</a>
        </div>
    </div>
</div>

<!-- slider area start -->
<div class="slider-4" data-background="/images/bookshelf.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 colmd-12">

            </div>
        </div>
    </div>
</div>
<!-- slider area end -->
<div class="box-layout" data-background="">
    <div class="container">
        <div class="background-white background-white-c mt-top">
            <!-- fetures-3 area start -->
            <div class="fetures_area_3 pt-30 d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <a href="/shop-books">
                            <div class="fetures_3">
                                <div class="discount">
                                    <div class="discount-text ">
                                        <span>Hot Deal</span>
                                    </div>
                                </div>
                                <img src="/banners/{{data.banner.left}}.jpg" alt="">

                            </div>
                            </a>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 d-md-none d-lg-block">
                            <a href="/shop-books">
                                <div class="fetures_3">
                                    <img src="/banners/{{data.banner.middle}}.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <a href="/shop-books">
                            <div class="fetures_3">
                                <img src="/banners/{{data.banner.right}}.jpg" alt="">
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- fetures-3 area end -->

            <!-- categories area start -->
            <div class="categories_area pt-45 mb-50">
                <div class="container-fluid">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="section-wrapper text-center mb-35 d-none d-sm-block">
                            <h2 class="section-title">Explore Our Bestsellers</h2>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="categories__tab categories__tab_4">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">All</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#history" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">History</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#romance" type="button" role="tab" aria-controls="contact"
                                            aria-selected="false">Romance</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="contact2-tab" data-bs-toggle="tab"
                                            data-bs-target="#fantasy" type="button" role="tab" aria-controls="contact2"
                                            aria-selected="false">Fantasy</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.all}}
                                                    <div class="product-item swiper-slide wow fadeInUp"
                                                        data-wow-duration="1s" data-wow-delay="0.2s">
                                                        <div class="product product-4">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update text-white">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">
                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="/view-product/{{this._id}}">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">₹{{this.price}}</p>
                                                                        <a class="p-absoulute pr-2" onclick="return addtocart('{{this._id}}')">add to
                                                                            cart</a>
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="history" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.history}}
                                                    <div class="product-item swiper-slide">
                                                        <div class="product">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary" src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">
                                                                
                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="/view-product/{{this._id}}">{{this.bookname}}</a>
                                                                    </h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">₹{{this.price}}</p>
                                                                        <a class="p-absoulute pr-2" onclick="return addtocart('{{this._id}}')">add to
                                                                            cart</a>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="romance" role="tabpanel"
                                        aria-labelledby="contact-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.romance}}
                                                    <div class="product-item swiper-slide">
                                                        <div class="product product-4">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">
                                                                  
                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="/view-product/{{this._id}}">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">₹{{this.price}}</p>
                                                                        <a class="p-absoulute pr-2" onclick="return addtocart('{{this._id}}')">add to
                                                                            cart</a>
                                                                    </div>
                                                                </div>
                                                               

                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="fantasy" role="tabpanel"
                                        aria-labelledby="contact2-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.fantasy}}
                                                    <div class="product-item swiper-slide">
                                                        <div class="product product-4">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">
                                                                    
                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="/view-product/{{this._id}}">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">₹{{this.price}}</p>
                                                                        <a class="p-absoulute pr-2" onclick="return addtocart('{{this._id}}')">add to
                                                                            cart</a>
                                                                    </div>
                                                                </div>
                                                                

                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- categories area end -->
        </div>
    </div>
</div>

      <!-- categories area start -->
        <div class="categories_area_4 pt-90 mb-150 pb-150 d-none d-sm-block" data-background="../images/book-wallpaper-hd-wallpapers.jpg">
            <h3 class="middle-title">“Books Are My Favourite Friends, And I Consider My Home Library, With Many Thousand Books, To Be My Greatest Wealth.” <br> -APJ</h3>
        </div>
        <!-- categories area end -->
                <div class="box-layout box-layout-2 pb-100" >
        <div class="container">
        <div class="background-white mt-top">

            <div class="categories_area pt-50 mb-75">
            <div class="container-fluid">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="section-wrapper text-center mb-35">
                            <h2 class="section-title">Explore Our Kids Collection</h2>
                           
                        </div>
                    </div>
                <div class="row" id="kids">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="categories__tab">
                            <div class="tab-content" id="myTabContent11">
                                <div class="tab-pane fade show active" id="home12" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="container">
                                        <div class="product-active swiper-container">
                                            <div class="swiper-wrapper">
                                                {{#each data.kids}}
                                                <div class="product-item swiper-slide wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                                                    <div class="product">
                                                        <div class="product__thumb">
                                                            <a href="/view-product/{{this._id}}">
                                                                <img class="product-primary" src="/book-image/{{this._id}}.jpg" alt="product_image">
                                                                <img class="product-secondary" src="/book-image/{{this._id}}.jpg" alt="product_image">
                                                            </a>
                                                            <div class="product-info mb-10">
                                                                        <p>By : {{this.authorname}}</p>
                                                            </div>
                                                               <div class="product__name">
                                                                <h4><a href="/view-product/{{this._id}}">{{this.bookname}}</a></h4>
                                                                <div class="pro-price">
                                                                    <p class="p-absoulute pr-1"><span>{{this.price}}</p>
                                                                    <a class="p-absoulute pr-2" onclick="return addtocart('{{this._id}}')">add to cart</a>
                                                                </div>
                                                            </div>
                                                           
                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}
                                                
                                                
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<script>
    function searchBook() {
        
        let name = document.getElementById('name').value
        let data = document.getElementById('mobile').value
        if(name == ''){
            name = data
        }
        console.log(name)
        $.ajax({
            url: '/search',
            data: {
                data: name
            },
            method: 'post',
            success: (response => {
                if(response){
                $(function () {
                    $('#watchButton').click();
                });
                document.getElementById('result').style.display='block'
                document.getElementById('error').style.display = 'none'
                document.getElementById('bookname').innerHTML = response[0].bookname
                document.getElementById('author').innerHTML = response[0].authorname
                document.getElementById('image').setAttribute('src', `/book-image/${response[0]._id}.jpg`)
                document.getElementById('hr').setAttribute('href', `/view-product/${response[0]._id}`)
                console.log(response)
                }else{
                    $(function () {
                    $('#watchButton').click();
                });
                document.getElementById('result').style.display='none'
                document.getElementById('error').innerHTML = "No books found"

                }

            })


        })
    }


    $(function () {
        var $overlay = $('.overlay'),
            $overlayTrigger = $('.overlay-trigger button'),
            $overlayClose = $('.overlay-close'),
            openClass = 'is-open';

        $overlayTrigger.on('click', function () {
            var num = ('0' + ($(this).index() + 1)).slice(-2);
            $('.overlay' + num).addClass(openClass);
            $overlayClose.addClass(openClass);
        });

        $overlayClose.on('click', function () {
            $overlayClose.removeClass(openClass);
            $overlay.removeClass(openClass);
        });
    });

</script>