<div class="shop-page pt-85">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="sidebars">
                    <div class="product-widget">
                        <h3 class="widget-title mb-30">Book categories</h3>
                        <ul class="product-categories">
                            <li onclick="return filter('all')">All</li> 
                            {{#each category}}
                            <li id="oncl" onclick="return filter('{{this.name}}')">{{this.name}}</li>
                            {{/each}}
                            
                        </ul>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-9 col-sm-12">
                <div class="shop-top-bar position-relative">
                    <div class="showing-result">
                        <h6>Showing results <h5>{{catg}}</h5></h6>
                        
                    </div>
                   
                    
                </div>
                <div class="shop-page-product pt-50 pb-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="row">

                                    </div>
                                </div>
                                <div class=" tab-pane fade show active" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="row">
                                        {{#each books}}
                                        <div class="col-xl-4 col-md-6">
                                            <div class="product product-4">
                                                <div class="product__thumb">
                                                    <a href="/view-product/{{this._id}}">
                                                        <img class="product-primary" src="/book-image/{{this._id}}.jpg"
                                                            alt="product_image">
                                                        <img class="product-secondary" src="/book-image/{{this._id}}.jpg"
                                                            alt="product_image">
                                                    </a>
                                                    <!-- <div class="product__update">
                                                            <a class="#">sale</a>
                                                        </div> -->
                                                    <div class="product-info mb-10">
                                                        
                                                        <div class="product_rating">
                                                            <a href="#"><i class="fal fa-star start-color"></i></a>
                                                            <a href="#"><i class="fal fa-star start-color"></i></a>
                                                            <a href="#"><i class="fal fa-star start-color"></i></a>
                                                            <a href="#"><i class="fal fa-star"></i></a>
                                                            <a href="#"><i class="fal fa-star"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product__name">
                                                        <h4><a href="single.html">{{this.bookname}}</a></h4>
                                                        <div class="pro-price">
                                                            <p class="p-absoulute pr-1">
                                                                        {{#if this.offer}}
                                                                       <del> ₹{{this.price}}</del>
                                                                        ₹{{this.offer}}
                                                                        {{else}}
                                                                        ₹{{this.price}}
                                                                        {{/if}}
                                                                </p>
                                                            <a class="p-absoulute pr-2" onclick="return addtocart('{{this._id}}')"><strong>add to cart</strong></a>
                                                        </div>
                                                    </div>
                                                   

                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer_area fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="company__info  wow fadeInUp " data-wow-duration=".s" data-wow-delay=".3s">
                        <h3 class="f-title">Wisdom</h3>
                        <ul>
                            <li>Add: 734 Riverwood Drive, Suite 245 Cottonwood </li>
                            <li>Beverly Hill, Melbourne, USA.</li>
                            <li>Email: wisdom@gmail.com</li>
                            <li>Fax: (+100) 123 456 7890 - (+100) 123 456 7891</li>
                        </ul>
                        
                    </div>
                </div>
                
                
                
            </div>
            
        </div>
    </footer>