<!-- cart area start -->

<div class="box-layout" data-background="assets/img/slider/body-bg-home4.jpg">
    <div class="container">
        <div class="background-white background-white-c mt-top">
            <!-- fetures-3 area start -->
            <div class="fetures_area_3 pt-30 d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <a href="/shop-books">
                            <div class="fetures_3">
                                <div class="discount">
                                    <div class="discount-text ">
                                        <span>Hot Deal</span>
                                    </div>
                                </div>
                                <img src="/banners/{{data.banner.left}}.jpg" alt="">

                            </div>
                            </a>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 d-md-none d-lg-block">
                            <a href="/shop-books">
                                <div class="fetures_3">
                                    <img src="/banners/{{data.banner.middle}}.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <a href="/shop-books">
                            <div class="fetures_3">
                                <img src="/banners/{{data.banner.right}}.jpg" alt="">
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- fetures-3 area end -->

            <!-- categories area start -->
            <div class="categories_area pt-45 mb-50">
                <div class="container-fluid">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="section-wrapper text-center mb-35 d-none d-sm-block">
                            <h2 class="section-title">Explore Our Bestsellers</h2>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="categories__tab categories__tab_4">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">All</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#history" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">History</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#romance" type="button" role="tab" aria-controls="contact"
                                            aria-selected="false">Romance</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="contact2-tab" data-bs-toggle="tab"
                                            data-bs-target="#fantasy" type="button" role="tab" aria-controls="contact2"
                                            aria-selected="false">Fantasy</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.all}}
                                                    <div class="product-item swiper-slide wow fadeInUp"
                                                        data-wow-duration="1s" data-wow-delay="0.2s">
                                                        <div class="product product-4">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">
                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="shop.html">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">
                                                                            {{#if this.offer}}
                                                                            <del> ₹{{this.price}}</del>
                                                                            ₹{{this.offer}}
                                                                            {{else}}
                                                                            ₹{{this.price}}
                                                                            {{/if}}
                                                                        </p>
                                                                        <a class="p-absoulute pr-2"
                                                                            onclick="return addtocart('{{this._id}}')"><strong>add
                                                                                to cart</strong></a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="history" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.history}}
                                                    <div class="product-item swiper-slide">
                                                        <div class="product">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">

                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="shop.html">{{this.bookname}}</a>
                                                                    </h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">
                                                                            {{#if this.offer}}
                                                                            <del> ₹{{this.price}}</del>
                                                                            ₹{{this.offer}}
                                                                            {{else}}
                                                                            ₹{{this.price}}
                                                                            {{/if}}
                                                                        </p>
                                                                        <a class="p-absoulute pr-2"
                                                                            onclick="return addtocart('{{this._id}}')"><strong>add
                                                                                to cart</strong></a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="romance" role="tabpanel"
                                        aria-labelledby="contact-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.romance}}
                                                    <div class="product-item swiper-slide">
                                                        <div class="product product-4">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">

                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="shop.html">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">
                                                                            {{#if this.offer}}
                                                                            <del> ₹{{this.price}}</del>
                                                                            ₹{{this.offer}}
                                                                            {{else}}
                                                                            ₹{{this.price}}
                                                                            {{/if}}
                                                                        </p>
                                                                        <a class="p-absoulute pr-2"
                                                                            onclick="return addtocart('{{this._id}}')"><strong>add
                                                                                to cart</strong></a>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="fantasy" role="tabpanel"
                                        aria-labelledby="contact2-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.fantasy}}
                                                    <div class="product-item swiper-slide">
                                                        <div class="product product-4">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product__update">
                                                                    <a class="text-white">new</a>
                                                                </div>
                                                                <div class="product-info mb-10">

                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="shop.html">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1">
                                                                            {{#if this.offer}}
                                                                            <del> ₹{{this.price}}</del>
                                                                            ₹{{this.offer}}
                                                                            {{else}}
                                                                            ₹{{this.price}}
                                                                            {{/if}}
                                                                        </p>
                                                                        <a class="p-absoulute pr-2"
                                                                            onclick="return addtocart('{{this._id}}')"><strong>add
                                                                                to cart</strong></a>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- categories area end -->
        </div>
    </div>
</div>

<!-- categories area start -->
<div class="categories_area_4 pt-90 mb-150 pb-150 d-none d-sm-block"
    data-background="../images/book-wallpaper-hd-wallpapers.jpg">
    <h3 class="middle-title">“Books Are My Favourite Friends, And I Consider My Home Library, With Many Thousand Books,
        To Be My Greatest Wealth.” <br> -APJ</h3>
</div>
<!-- categories area end -->
<div class="box-layout box-layout-2 pb-100">
    <div class="container">
        <div class="background-white mt-top">

            <div class="categories_area pt-50 mb-75">
                <div class="container-fluid">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="section-wrapper text-center mb-35">
                            <h2 class="section-title">Explore Our Kids Collection</h2>

                        </div>
                    </div>
                    <div class="row" id="kids">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="categories__tab">
                                <div class="tab-content" id="myTabContent11">
                                    <div class="tab-pane fade show active" id="home12" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="container">
                                            <div class="product-active swiper-container">
                                                <div class="swiper-wrapper">
                                                    {{#each data.kids}}
                                                    <div class="product-item swiper-slide wow fadeInUp"
                                                        data-wow-duration="1s" data-wow-delay="0.2s">
                                                        <div class="product">
                                                            <div class="product__thumb">
                                                                <a href="/view-product/{{this._id}}">
                                                                    <img class="product-primary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                    <img class="product-secondary"
                                                                        src="/book-image/{{this._id}}.jpg"
                                                                        alt="product_image">
                                                                </a>
                                                                <div class="product-info mb-10">
                                                                    <div class="product_rating">
                                                                        <p>By : {{this.authorname}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="product__name">
                                                                    <h4><a href="shop.html">{{this.bookname}}</a></h4>
                                                                    <div class="pro-price">
                                                                        <p class="p-absoulute pr-1"><span>
                                                                                {{#if this.offer}}
                                                                                <del> ₹{{this.price}}</del>
                                                                                ₹{{this.offer}}
                                                                                {{else}}
                                                                                ₹{{this.price}}
                                                                                {{/if}}
                                                                        </p>
                                                                        <a class="p-absoulute pr-2"
                                                                            onclick="return addtocart('{{this._id}}')"><strong>add
                                                                                to cart</strong></a>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


