<section class="container mt-5">
     <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="row">

                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="single_preview_product">

                                <div class="tab-content" id="myTabefContent">
                                    <div class="tab-pane fade show active" id="homde" role="tabpanel" >
                                       <div class="full-view" id="img-container">
                                            <img src="/book-image/{{book._id}}.jpg" alt="">
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 mt-5">
                    <div class="single_preview_content pl-30">
                        <h2 class="title-5 edit-title border-bottom-0">{{book.bookname}}</h2>
                        <div class="s-product-review">
                            <span class="pl-left"><strong>Author</strong> : {{book.authorname}}</span>
                        </div>
                        <div class="s-price pt-30 mb-30">
                            {{#if book.offer}}
                            <del><h4>₹{{book.price}}</h4></del>
                            <span>₹{{book.offer}}</span>
                            {{else}}
                             <span>₹{{book.price}}</span>
                            {{/if}}
                        </div>
                        <div class="s-des">
                            <p>{{book.aboutbook}}</p>
                        </div>
                        {{#if book.availability}}
                        <div class="viewcontent__action single_action pt-30" >

                            <span ><a onclick="return addtocart('{{book._id}}')" id="addto">+ add to cart</a></span>
                        </div>
                        {{else}}
                        <div class="viewcontent__action single_action pt-30">
                            <h3 class="text-secondary">Currently not available</h3>
                        </div>
                        {{/if}}
                        <div class="viewcontent__footer border-top-0 border-bottom pb-30">
                            <ul>
                                <li>Category:</li>
                                <li>Language</li>
                            </ul>
                            <ul>
                                <li>{{book.category}}</li>
                                <li>{{book.language}}</li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</section>

<!-- Or from a CDN -->
<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
<script>
    var options = {
    width: 400,
    scale: 1,
    zoomPosition: 'right' // required
    // more options here
};
new ImageZoom(document.getElementById("img-container"), options);

</script>