<div class="container">
    <table class="table table-bordered border-primary mt-5">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Author Name</th>
                <th scope="col">Price <sub>/One</sub></th>
                <th scope="col">Qty</th>
                <th scope="col">Shipping Status</th>
                <th scope="col">Return</th>
            </tr>
        </thead>
        <tbody>
            {{#each order}}
            <tr>
                <td class="table-img">
                    <img src="/book-image/{{this.orders._id}}.jpg" alt="">
                </td>
                <td>
                    <a href="/view-product/{{this.orders._id}}">
                        {{this.orders.bookname}}
                    </a>
                </td>
                <td>{{this.orders.authorname}}</td>
                <td>{{this.product.cartItem.price}}</td>
                <td>{{this.product.quantity}}</td>
                <td> <p class="badge badge-secondary">{{this.product.cartItem.deliveryStatus}}</p></td>

                <td>
                    {{#if this.returnOption}}
                     <p class="badge badge-info" onclick="return returnOrderProduct('{{this._id}}','{{this.orders._id}}')" >Return Item</p>
                     {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
 

</div>