<div class="container">
    <table class="table table-bordered border-primary">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                    {{!-- {{#each orders}}
                  <tr>
                    <td>{{this.order.bookname}}</td>
                    <td>{{this.order.authorname}}</td>
                    <td>{{this.order.price}}</td>
                    <td>{{this.product.quantity}}</td>
                    <td>{{this.status}}</td>
                  </tr>
                  {{/each}} --}}
                </tbody>
              </table>
</div>