<div class="container" id="">
    {{#if products}}
    <table class="table table-bordered border-primary mt-5">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Total Price</th>
                <th scope="col">Method</th>
                <th scope="col">Status</th>
                <th scope="col">View products</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.deliveryDetails.street}}</td>
                <td>₹{{this.totalPrice}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>
                    <p class="badge badge-success">{{this.status}}</p>
                    {{#if this.btnStatus}}
                        <p class="cancel badge badge-danger" onclick="return cancelOrder('{{this._id}}')">Cancel Order</p>
                    {{/if}}
                </td>
               <td><a href="/view-user-order-product/{{this._id}}"><button class="btn btn-secondary">ViewProducts</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="text-center mt-5">
        <p>No Orders</p>
    </div>
    {{/if}}

</div>
