<div class="container">
    <table class="table table-bordered border-primary mt-5">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Author Name</th>
                <th scope="col">Price <sub>/One</sub></th>
                <th scope="col">Qty</th>
                <th scope="col">Date</th>
                <th scope="col">Method</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td class="table-img">
                    <img src="/book-image/{{this.orders._id}}.jpg" alt="">
                </td>
                <td>
                    <a href="/view-product/{{this.orders._id}}">
                        {{this.orders.bookname}}
                    </a>
                </td>
                <td>{{this.orders.authorname}}</td>
                <td>{{this.product.cartItem.price}}</td>
                <td>{{this.product.quantity}}</td>
                <td>{{this.date}}</td>
                <td>{{this.paymentMethod}}</td>
                <td><p class="badge badge-success">{{this.status}}</p>  <br><a class="cancel"><p>Cancel Order</p></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>