<div class="container">
    <table class="table table-bordered border-primary mt-5">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each products}}
                  <tr>
                    <td>{{this.orders.bookname}}</td>
                    <td>{{this.orders.authorname}}</td>
                    <td>{{this.product.cartItem.price}}</td>
                    <td>{{this.product.quantity}}</td>
                    <td>{{this.status}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
</div>